.membership-wrapper {
    width: 300px !important;
    margin: auto;
    border: 3px solid #1CA3D3;
    text-align: center;
    padding: 10px;
}
.membership-wrapper:hover{
    cursor: pointer;
    background: #1CA3D3;
    color: #fff;
}
.de-fee {
    border: 3px solid #ccc;
}
.de-fee p, .de-require p, .de-test p, .de-follow p {
    margin: 22px;
    font-size: 17px;
}
.de-fee p {
    border-bottom: 1px solid #ccc;
}
.de-fee span{
    margin-right: 20px;
}
.de-require p{
    border-bottom: 1px solid #ccc;
}
.de-follow p{
    border-bottom: 1px solid #ccc;
}
.de-application {
    text-align: center;
    margin-top: 45px !important;
}
.de-application p{
    font-size: 25px;
    font-weight: 600;
}
.de-application a{
    font-size: 20px;
    font-weight: 500;
}
@media only screen and (max-width: 768px) { 
    .membership-wrapper {
        width: 280px !important;
    }
}
@media only screen and (max-width: 414px) { 
    .membership-wrapper {
        width: 164px !important;
        height: 150px;
    }
    .membership-wrapper h1 {
        font-size: 18px;
    }
    .membership-wrapper a h3 {
        font-size: 15px;
        color: rgb(28, 163, 211);
        text-decoration: underline;
    }
    .membership-wrapper a span {
        font-size: 10px;
        color: #000;
    }
}