.spinner-border{
    display: none !important;
}
#carouselExampleFade{
    width: 300px;
}
.company_edit, .company_save {
    text-align: right;
    margin-top: 22px;
}
.back {
    display: none !important;
}
table td{
    vertical-align: middle;
}
.company_save {
    margin-bottom: 30px;
}
.text-nowrap {
    width:20% !important;
}
.table-nowrap td, .table-nowrap th {
    white-space:initial !important;
}