/* custom header data table */
.cart-header {
    display: flow-root;
    margin-bottom: 21px;
}
.cart-header .card-title {
    float: left;
}
.cart-header a, .cart-header button {
    float: right;
}
/* vehicle page */
.tax-inc {
    color: red;
}
.admin-info {
    color: #fff;
    width: 311px;
}
.admin-info p {
    float: left;
    margin: 0;
    margin-top: 10px;
}

/* file input modal  */
.kv-zoom-actions {
    display: none;
}
table th{
    text-align: center;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space:initial !important;
}
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}
.spinner-border {
    position: absolute;
    top: 40%;
    left: 50%;
}
