.front-logo {
    display: none;
}
.custom-menu {
    color: #fff !important;
}
.custom-menu:hover {
    color: #eee !important;
}
.front-header {
    display: initial !important;
}
#navbarScroll{
    float: right;
}
.header-logo {
    float: left;
}
.header-logo a {
    display: flex;
}
.header-logo .logo-name{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}
.header-logo p{
    margin-top: 20px;
    margin-left: 21px;
    font-style: italic;
}
.header-info img {
    float: left;
}
.tel-number {
    float: left;
    margin-top: 7px;
}
.header-info button {
    margin-left: 22px;
    margin-top: 7px;
}
.footer {
    height: auto;
    position: static;
}
.footer p{
    font-weight: 700;
    color:#fff;
}
.footer ul {
    padding-left: 0;
}
.footer ul li {
    list-style-type: none;
}
.footer ul li a {
    text-decoration: none;
    color: #fff;
}
.footer ul li a:hover{
    color: #eee;
} 
body[data-layout=horizontal] .page-content {
    margin: 0;
    padding: 0;
}
/* responsive */
@media only screen and (max-width: 991px) {
    .front-logo {
        display: block;
    }
}