@import url(//db.onlinewebfonts.com/c/a9aca7e1ecdbdf39d9a97fe080562d20?family=Meiryo+UI);
body, h1,h2,h3,h4,h5,h6,p,span, label, a, button, input, optgroup, select, textarea{
    font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "ãƒ¡ã‚¤ãƒªã‚ª", Meiryo, "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", sans-serif !important;
}
body{
    background-color: #fff;
}
.front-logo {
    display: none;
}
.custom-menu {
    color: #fff !important;
}
.custom-menu:hover {
    color: #eee !important;
}
.front-header {
    display: initial !important;
}
#navbarScroll{
    justify-content: center;
}
#navbarScroll span{
    font-size: 18px;
    font-weight: 800;
}
.header-logo {
    float: left;
}
.header-logo a {
    display: flex;
}
.header-logo .logo-name{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}
.header-logo p{
    margin-top: 20px;
    margin-left: 21px;
    font-style: italic;
}
.header-info img {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}
.tel-number {
    float: left;
    margin-top: 7px;
}
.header-info button {
    margin-left: 22px;
    margin-top: 7px;
}
.footer {
    height: auto;
    position: static;
}
.footer p{
    font-weight: 700;
    color:#fff;
}
.footer ul {
    padding-left: 0;
}
.footer ul li {
    list-style-type: none;
}
.footer ul li a {
    text-decoration: none;
    color: #fff;
}
.footer ul li a:hover{
    color: #eee;
} 
body[data-layout=horizontal] .page-content {
    margin: 0;
    padding: 0;
}

/* spiner loading */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
}
.spinner-border {
    position: absolute;
    top: 40%;
    left: 50%;
}
/* scroll back top */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(237, 125, 49);
    border-color: rgb(237, 125, 49);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
#btn-back-to-top:hover {
    background: rgb(243, 166, 115);
    border-color: rgb(243, 166, 115);
}
#btn-back-to-top:active {
    background-color: rgb(243, 166, 115);;
  }
#btn-back-to-top.show {
    opacity: 1;
    visibility: visible;
}
.header-info a {
    margin-top: 13px;
    margin-left: 10px;
    font-size: 18px;
}
.custome-btn-bg{
    background: rgb(237, 125, 49) !important;
    border-color: rgb(237, 125, 49) !important;
    font-size: 13px !important;
}
.custome-btn-bg i {
    margin-right: 7px;
}
.custome-btn-bg:hover {
    background: rgb(243, 166, 115) !important;
    border-color: rgb(243, 166, 115) !important;
}
.page-item.active .page-link {
    background-color: rgb(237, 125, 49) !important;
    border-color: rgb(237, 125, 49) !important;
}
.pagination-wrapper .pagination{
    float: right;
}
.empty-text {
    text-align: center;
}
/* responsive */
@media only screen and (max-width: 991px) {
    .front-logo {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .front-logo {
        float: left;
    }
    .front-logo span {
        color: #fff;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
    .logo-title {
        font-style: inherit !important;
        margin-left: 6px;
        font-size: 10px !important;
    }
    .navbar-toggler {
        margin-top: 5px;
    }
    #navbarScroll span {
        font-size: 12px;
    }
    .front-header button{
        float: right;
    }
    .header-bottom {
        display: none;
    }
    #navbarScroll{
        float: left;
    }
    #navbarScroll ul {
        max-height: initial;
    }
    .top-header {
        display: inline-table;
        width: 100%;
    }
    #btn-back-to-top{
        display: none;
    }
}
@media only screen and (max-width: 414px) {
    .front-logo span {
        color: #fff;
        font-style: italic;
        font-weight: bold;
        font-size: 17px;
    }
    .logo-title {
        font-style: inherit !important;
        margin-left: 6px;
        font-size: 9px !important;
    }
    .footer-column{
        width: 50%;
    }
    .logo {
        font-size: 17px;
    }
    .logo-title {
        font-size: 8px !important;
    }
}
@media only screen and (max-width: 375px) {
    .front-logo span {
        font-size: 15px;
    }
    .logo-title {
        font-size: 7px !important;
    }
}
@media only screen and (max-width: 360px) {
    .logo-title {
        font-size: 6px !important;
    }
}
@media only screen and (max-width: 320px) {
    .logo-title {
        font-size: 5px !important;
    }
}