
.home-content {
    margin-top: 30px;
}
.banner-image img{
    width: 100%;
}
.banner-image {
    position: relative;
}
.banner-image .home-search {
    position: absolute;
    top: 40%;
    left: 33%;
}
.home-search p{
    color: #fff;
    font-size: 30px;
}
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    font-size: 18px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 24px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: rgb(237, 125, 49);
    border-color: rgb(237, 125, 49);
    font-size: 20px;
}
.search button:hover {
    background: rgb(243, 166, 115);
    border-color: rgb(243, 166, 115);
}
.detail-search {
    text-align: right;
    margin-top: 25px;
}
.detail-search input{
    background: rgb(237, 125, 49);
    border-color: rgb(237, 125, 49);
    width: 100px;
}
.detail-search input:hover{
    background: rgb(243, 166, 115);
    border-color: rgb(243, 166, 115);
    /* width: 100px; */
}
.car-list{
    display: contents;
}
.list-title {
    width: 100%;
}
.list-title h3{
    float: left;
    font-weight: 500;
}
.list-title p{
    float: right;
}
.list-title p span{
    color: red;
}
.category{
    /* margin-top: -7px !important; */
    /* background: #fff; */
    border-radius: 17px;
    padding: 30px;
    width: 100%;
}
.category-title{
    border-bottom: 3px solid #1CA3D3;
    margin-bottom: 20px;
    clear: both;
    display: flex;
}
.category-title i{
    float: left;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 4px;
}
.category-title h3{
    float: left;
    font-size: 18px;
}
.sort-filter {
    float: right;
}
.car-info {
    display: grid; 
}
.car-info p {
    margin: 0;
    margin-bottom: 2px;
}
.car-info .car-price{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.car-info a {
    float: right;
    margin-top: 6px;
}
.car-list-image img {
    width: 100%;
    max-height: 304px;
}
.read-more a{
    background: rgb(237, 125, 49);
    border-color: rgb(237, 125, 49);
}
.read-more a:hover {
    background: rgb(243, 166, 115);
    border-color: rgb(243, 166, 115);
}
.car-category-checkbox{
    width: 14.28% !important;
    text-align: center;
}
.car-category-checkbox input {
    margin-right: 5px;
}
.car-category-checkbox span {
    /* float: left; */
}
.car-list-info {
    text-align: center;
    border: 1px solid #ccc;
}
.adver-top {
    background: #1CA3D3;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.adver-top h1{
    color: #fff;
}
.adver-top h1 i{
    margin-right: 20px;
}
.adver-top p{
    font-size: 17px;
    color: #fff;
}
.wrecker-service, .painting-service{
    width: 30% !important;
    margin: auto;
    text-align: center;
    padding: 10px;
    height: 100px;
    cursor: pointer;
}

.wrecker-service img, .painting-service img{
    width: 50px;
    margin-right: 10px;
}
.wrecker-service {
    border: 5px solid rgb(255, 192, 0);
}
.wrecker-service:hover{
    background: rgb(255, 192, 0);
    color: #fff;
}
.painting-service {
    border: 5px solid rgb(112, 173, 71);
}
.painting-service:hover {
    background: rgb(112, 173, 71);
    color: #fff;
}
.select-wrapper {
    width: 33.33% !important;
    float: left;
    margin-bottom: 30px;
}
.select-wrapper .select-label {
    width: 30%;
    float: left;
    text-align: center;
}
.select-wrapper .select-box {
    width: 70%;
    float: left;
}
.templating-year {
    width: 40%;
    float: left;
}
.read-more {
    text-align: center;
}
.category-read-more {
    text-align: center;
}
.category-read-more a{
    color: rgb(237, 125, 49);
    border-color: rgb(237, 125, 49);
    width: 100px;
}
.category-read-more a:hover{
    background: rgb(237, 125, 49);
    color: #fff;
    border-color: rgb(237, 125, 49);
}
/* responsive */
@media only screen and (max-width: 1440px) {
    .banner-image .home-search {
        left: 33%;
    }
}
@media only screen and (max-width: 1024px) {
    .home-content {
        width: 90% !important;
    }
    .banner-image .home-search {
        width: 76%;
    }
    .search input {
        height: 45px;
    }
    .search button {
        height: 36px;
        width: 83px;
        padding-top: 4px;
    }
    .search .fa-search {
        top: 15px;
    }
    .car-info a {
        float: left;
        margin-top: 4px;
        margin-bottom: 9px;
    }
}
@media only screen and (max-width: 768px) {
    .banner-image .home-search{
        width: 69%;
        top: 30%;
        left:35%;
    }
    .home-search p{
        font-size: 22px;
        margin-bottom: 8px;
    }
    .adver-bottom {
        display: none !important;
    }
    .car-list-info img {
        width: 80%;
    }
    .templating-year-select {
        width: 66%;
    }
    .templating-year {
        width: 54%;
    }
    .home-content {
        margin-top: auto;
    }
    .search button {
        padding-top: 5px;
        font-size: 15px;
    }
    .search input{
        font-size: 15px;
    }
}
@media only screen and (max-width: 414px) {
    .home-content {
        width: 100% !important;
    }
    .category {
        /* padding: 0; */
        margin-top: 20px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding: 5px;
    }
    .banner-image .home-search{
        width: 60%;
        top: 20%;
        left: 40%;
    }
    .home-search p{
        font-size: 17px;
    }
    .adver-top h1 {
        font-size: 18px;
    }
    .adver-top p {
        font-size: 13px;
    }
    .search input{
        height: 33px;
    }
    .search .fa-search {
        top: 12px;
        font-size: 10px;
    }
    .search input{
        font-size: 10px;
    }
    .search button {
        height: 25px;
        width: 48px;
        font-size: 11px;
        padding-top: 4px;
        top: 4px;
    }
    .car-list-info {
        width: 33% !important;
        text-align: center;
    }.car-info .car-price {
        width: 100%;
        float: left;
    }
    .detail-search {
        margin-top: -15px !important;
    }
    .car-list-info img {
        width: 100%;
    }
    .select-wrapper {
        width: 50% !important;
    }
    .templating-year-select select {
        width: 70% !important;
    }
    .templating-year-select:last-child {
        margin-top: 10px;
    }
    .templating-year-select {
        text-align: right;
        margin-left: 16px;
        margin-top: -22px;
    }
    .templating-year .select-label {
        position: relative;
        top: 30px;
    }
    .templating-select{
        margin-top: 10px !important;
    }
    .car-details {
        width: 50% !important;
    }
    .list-title h3 {

        font-size: 18px;

    }
    .to-millege, .to-year {
        padding-right: 25px;
    }
    #datatable_filter, .dataTables_length{
        display: none;
    } 
    #datatable_wrapper thead {
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .home-search p {
        font-size: 13px;
    }
    .search input {
        font-size: 8px;
    }
    .search button {
        height: 24px;
        width: 46px;
        font-size: 10px;
        padding-top: 3px;
        top: 4px;
    }
    .category {
        margin-top: 10px !important;
    }
    .list-title h3 {
        font-size: 19px;
    }
    .list-title p {
        font-size: 11px;
        padding-top: 7px;
    }
}
@media only screen and (max-width: 375px) {
    .category-title h3{
        font-size: 17px;
    }
}